/* 版权样式调整 */
#post .post-copyright {
    background: var(--eternity-card-bg);
    padding: 1rem 1.3rem;
    overflow: hidden;
    border: var(--style-border);
    border-width: 1px;
    transition: 0.3s;
    position: relative;
    margin: 1.5rem 0px 0.5rem;
    border-radius: 8px;
}

/* 添加这段代码禁用悬停发光效果 */
#post .post-copyright:hover {
    box-shadow: none !important;
    text-shadow: none !important;
    border-color: inherit !important;
}


/* 版权样式调整end */
:root {
       --eternity-card-bg: #fff;
}
[data-theme='dark'] {
       --eternity-card-bg: #1b1c20;
}

.loading-img {
  background: url(favicon.ico) no-repeat center center;
  background-size: cover;
}

